<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496209785945-n3c18bo5ekvs0j1mkn4o0dd2pgpnier2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496209785945-n3c18bo5ekvs0j1mkn4o0dd2pgpnier2</string>
	<key>API_KEY</key>
	<string>AIzaSyBORMbbwv0m8Oj7cCetuTA7YAdV1wUoHCw</string>
	<key>GCM_SENDER_ID</key>
	<string>496209785945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseflutter2</string>
	<key>PROJECT_ID</key>
	<string>funciona-bfcdb</string>
	<key>STORAGE_BUCKET</key>
	<string>funciona-bfcdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496209785945:ios:f79477fb7b9ed64b89ad48</string>
</dict>
</plist>